<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GeekPlus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" type="image/png" href="image/favicon.ico"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/series-label.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/oldie.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
</head>
<body>
<!--导航条开始-->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">GeekPlus</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-align-justify"></span> 数据库</a></li>
            <th:block th:if="${email}==null">
                <li><a href="/index/register"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li><a href="/index/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            </th:block>
            <th:block th:if="${email!=null}">
                <li><a href="/index/register"><span class="glyphicon glyphicon-user"></span> <th:block th:text="${email}">admin</th:block></a></li>
            </th:block>
        </ul>
    </div>
</nav>
<!--导航条结束-->
<h1 style="display:flex;justify-content: center;margin-top: 3%">极客视界众筹产品数据库</h1>
<h3 style="display:flex;justify-content: center;">全球最全的众筹产品数据库</h3>
<!--众筹平台信息开始-->
<div style="display: flex;justify-content: space-around;margin-top: 4%">
    <th:block th:each="website : ${websiteinfo}">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <caption style="font-size: larger" th:text="${website.websiteName}">淘宝众筹</caption>
                <thead>
                <tr>
                    <th>名称</th>
                    <th>数据</th>
                </tr>
                </thead>
                <tbody>
                <tr >
                    <td>众筹金额(万)</td>
                    <td th:text="${#numbers.formatDecimal(website.totalAmount/1000,3,2)}">100亿</td>
                </tr>
                <tr>
                    <td>支持人数(人)</td>
                    <td th:text="${website.totalSupportpeople}">50000人</td>
                </tr>
                <tr>
                    <td>总项目数(个)</td>
                    <td th:text="${website.totalProducts}">10000</td>
                </tr>
                <tr>
                    <td>平均完成率(%)</td>
                    <td th:text="${website.averageFinish}">66.66%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
</div>

<!--众筹平台信息结束-->
<!--平台7天众筹金额变化曲线开始-->
<div id="container"></div>
<!--平台7天众筹金额变化曲线结束-->
<!--热门项目开始-->
<div class="panel panel-default" style="width: 100%;">
    <div class="panel-heading">
        <h3 class="panel-title" style="text-align: center">
            热门项目
        </h3>
    </div>
    <div class="panel-body">
        <div id="product"></div>
        <div id="people"></div>
    </div>
</div>
<!--热门项目结束-->
<div class="panel panel-default" style="width: 100%;">
    <div class="panel-heading">
        <h3 class="panel-title" style="text-align: center">
            其它内容介绍
        </h3>
    </div>
    <div class="panel-body">
        <h3>其它内容介绍</h3>
    </div>
</div>
</body>

<footer style="text-align: center">
    Copyright ©2014-2018 极客视界 All Rights Reserved
    粤ICP备14037549号-1
</footer>
<script th:inline="javascript">
    /*<![CDATA[*/
    /*格式化时间*/
    Date.prototype.format = function(fmt) {
        var o = {
            "M+" : this.getMonth()+1,                 //月份
            "d+" : this.getDate(),                    //日
            "h+" : this.getHours(),                   //小时
            "m+" : this.getMinutes(),                 //分
            "s+" : this.getSeconds(),                 //秒
            "q+" : Math.floor((this.getMonth()+3)/3), //季度
            "S"  : this.getMilliseconds()             //毫秒
        };
        if(/(y+)/.test(fmt)) {
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
        }
        for(var k in o) {
            if(new RegExp("("+ k +")").test(fmt)){
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
            }
        }
        return fmt;
    };

    var updateDatetimes  = /*[[${changeinfo.updateDatetime}]]*/ 'null';
    var  x = [];
    for (i=0;i< updateDatetimes.length;i++) {
        x.push(new Date(updateDatetimes[i]).format("yy/MM/dd"));
    }

    var chart = Highcharts.chart('container', {
        title: {
            text: '7天众筹金额变化曲线'
        },
        subtitle: {
            text: '数据来源：www.geekview.cn'
        },
        credits:{
            enabled : false
        },
        xAxis: {
            categories: x,
            crosshair: true
        },
        yAxis: {
            title: {
                text: '7日众筹金额'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        series: [{
            name: '淘宝',
            data: /*[[${changeinfo.taobao}]]*/ 'null'
        }, {
            name: '京东',
            data: /*[[${changeinfo.jingdong}]]*/ 'null'
        }, {
            name: '苏宁',
            data: /*[[${changeinfo.suning}]]*/ 'null'
        }, {
            name: '小米',
            data: /*[[${changeinfo.xiaomi}]]*/ 'null'
        }],
        tooltip: {
            shared: true
        },
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });



    var updateDatetime = [];
    var supportCount = [];
    var focusCount = [];
    var targetAmount = [];
    var rasiedAmount = [];
    var products = /*[[${products}]]*/ 'null';
    for (var i =0;i< products.length;i++){
        updateDatetime.push(new Date(products[i].updateDatetime).format("MM/dd hh:mm"));
        supportCount.push(products[i].supportCount);
        focusCount.push(products[i].focusCount);
        targetAmount.push(products[i].targetAmount);
        rasiedAmount.push(products[i].rasiedAmount)
    }
    $("#product").highcharts({
        credits: {/*去除版本信息*/
            enabled: false
        },
        title: {
            text: /*[[${products[0].productName}]]*/ '极客视界'
        },
        subtitle: {
            text: '数据来源：www.geekview.cn'
        },
        xAxis: {
            categories: updateDatetime,
            crosshair: true
        },
        yAxis: {
            title: {
                text: '众筹金额变化'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        series: [{
            name: '众筹金额',
            data: rasiedAmount,
            color:'#9B30FF'
        }, {
            name: '目标金额',
            data: targetAmount,
            color:'#87CEFF'
        }],
        tooltip: {
            shared: true
        },
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',/*水平布局*/
                        align: 'center',/*设定图例在图表区中的水平对齐方式*/
                        verticalAlign: 'bottom'/*设定图例在图表区中的垂直对齐方式*/
                    }
                }
            }]
        }
    });
    $("#people").highcharts({
        credits: {/*去除版本信息*/
            enabled: false
        },
        title: {
            text: /*[[${products[0].productName}]]*/ '极客视界'
        },
        subtitle: {
            text: '数据来源：www.geekview.cn'
        },
        xAxis: {
            categories: updateDatetime,
            crosshair: true
        },
        yAxis: {
            title: {
                text: '支持人数变化'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        series: [{
            name: '支持人数',
            data: supportCount,
            color: '#B3EE3A'
        }, {
            name: '关注人数',
            data: focusCount,
            color: '#98FB98'
        }],
        tooltip: {
            shared: true
        },
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',/*水平布局*/
                        align: 'center',/*设定图例在图表区中的水平对齐方式*/
                        verticalAlign: 'bottom'/*设定图例在图表区中的垂直对齐方式*/
                    }
                }
            }]
        }
    });
    /*]]>*/
</script>
</html>